body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-dm-sans: "DM Sans";
  --font-roboto: Roboto;
  --font-nunito-sans: "Nunito Sans";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-3xs: 10px;
  --font-size-2xs: 11px;
  --font-size-lg: 18px;
  --font-size-mini-8: 14.8px;
  --font-size-lgi-1: 19.1px;
  --font-size-smi-7: 12.7px;
  --font-size-6xl-4: 25.4px;
  --font-size-mid: 17px;
  --font-size-sm-3: 13.3px;
  --font-size-xs-4: 11.4px;
  --font-size-base-2: 15.2px;
  --font-size-3xl-9: 22.9px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-whitesmoke-100: #f6f6f6;
  --black-5: #f3f3f3;
  --color-whitesmoke-200: #edf1f5;
  --black-10: #e9e9e9;
  --white: #fff;
  --color-tomato-100: #ff6157;
  --color-tomato-200: #f0483e;
  --color-tomato-300: rgba(240, 72, 62, 0.3);
  --color-gray-100: #828282;
  --color-gray-200: #7a7a7a;
  --black-60: #777778;
  --tkh-100: #212633;
  --color-gray-300: #262626;
  --color-gray-400: #1d242e;
  --color-gray-500: #1d232e;
  --color-gray-600: #0d1218;
  --white-80: rgba(255, 255, 255, 0.8);
  --color-gray-700: rgba(255, 255, 255, 0.5);
  --color-gray-800: rgba(29, 36, 46, 0.5);
  --color-gray-900: rgba(29, 36, 46, 0.3);
  --color-deepskyblue-100: #03a9f5;
  --color-deepskyblue-200: rgba(3, 169, 245, 0.3);
  --color-cornflowerblue-100: #84a6e9;
  --color-aliceblue-100: #e3ebf3;
  --color-aliceblue-200: rgba(227, 235, 243, 0.5);
  --color-darkslategray-100: #2e3744;
  --color-darkslategray-200: #333;
  --black-2: #283342;
  --black: #192a3e;
  --color-dimgray-100: #5c6675;
  --color-dimgray-200: #4f5761;
  --profile-gray: #4c5862;
  --color-slategray: #626c7a;
  --color-darkcyan: #009099;
  --color-lightseagreen: #26b5bf;
  --color-gold-100: #fed600;
  --color-gold-200: rgba(254, 214, 0, 0.3);
  --color-mediumspringgreen: #2ed47a;
  --color-ghostwhite-100: #f7fafd;
  --color-ghostwhite-200: rgba(247, 250, 253, 0.5);
  --color-mediumseagreen-100: #01a768;
  --color-mediumseagreen-200: rgba(1, 167, 104, 0.3);
  --color-gainsboro-100: #e6e6e6;
  --color-paleturquoise: #b2edd3;
  --color-plum-100: #dbb7ff;
  --color-black: #000;
  --black-40: #a4a4a5;
  --color-slateblue: #043caa;
  --color-lavender: #dee9ff;
  --color-steelblue-100: #5273b5;
  --color-steelblue-200: rgba(82, 115, 181, 0.09);

  /* Gaps */
  --gap-mini: 15px;
  --gap-7xl: 26px;
  --gap-xs: 12px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-32xl: 51px;
  --gap-4xs: 9px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-2xs: 11px;
  --gap-8xl: 27px;
  --gap-smi: 13px;
  --gap-11xs: 2px;
  --gap-123xl: 142px;
  --gap-62xl: 81px;
  --gap-7xs: 6px;
  --gap-37xl: 56px;
  --gap-61xl: 80px;
  --gap-49xl: 68px;
  --gap-29xl: 48px;
  --gap-48xl: 67px;
  --gap-2xl: 21px;
  --gap-11xl: 30px;
  --gap-9xs: 4px;
  --gap-6xl: 25px;
  --gap-96xl: 115px;
  --gap-17xl: 36px;
  --gap-6xs: 7px;
  --gap-65xl: 84px;
  --gap-12xs: 1px;
  --gap-23xl: 42px;
  --gap-10xs: 3px;
  --gap-21xl: 40px;
  --gap-sm: 14px;
  --gap-14xl: 33px;
  --gap-5xs: 8px;
  --gap-9xl: 28px;
  --gap-270xl: 289px;
  --gap-194xl: 213px;
  --gap-15xl: 34px;
  --gap-185xl: 204px;
  --gap-50xl: 69px;
  --gap-5xl: 24px;
  --gap-140xl: 159px;
  --gap-4xl: 23px;
  --gap-3xl: 22px;
  --gap-31xl: 50px;
  --gap-33xl: 52px;
  --gap-lgi: 19px;
  --gap-8xs: 5px;
  --gap-12xl: 31px;
  --gap-mid: 17px;
  --gap-46xl: 65px;
  --gap-98xl: 117px;
  --gap-87xl: 106px;
  --gap-168xl: 187px;
  --gap-309xl: 328px;
  --gap-52xl: 71px;
  --gap-119xl: 138px;
  --gap-305xl: 324px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-4xs: 9px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-2xs: 11px;
  --padding-7xs: 6px;
  --padding-6xl: 25px;
  --padding-21xl: 40px;
  --padding-2xl: 21px;
  --padding-8xs: 5px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-10xs: 3px;
  --padding-8xl: 27px;
  --padding-5xl: 24px;
  --padding-45xl: 64px;
  --padding-3xs: 10px;
  --padding-6xs: 7px;
  --padding-68xl: 87px;
  --padding-31xl: 50px;
  --padding-12xl: 31px;
  --padding-11xs: 2px;
  --padding-lgi: 19px;
  --padding-4xl: 23px;
  --padding-22xl: 41px;
  --padding-23xl: 42px;
  --padding-7xl: 26px;
  --padding-5xs: 8px;
  --padding-12xs: 1px;
  --padding-9xl: 28px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-16xl: 35px;
  --padding-mini: 15px;
  --padding-sm: 14px;
  --padding-83xl: 102px;
  --padding-47xl: 66px;
  --padding-65xl: 84px;
  --padding-63xl: 82px;
  --padding-10xl: 29px;
  --padding-20xl: 39px;
  --padding-9xs: 4px;
  --padding-27xl: 46px;
  --padding-19xl: 38px;
  --padding-66xl: 85px;
  --padding-25xl: 44px;
  --padding-28xl: 47px;
  --padding-29xl: 48px;
  --padding-24xl: 43px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
  --padding-67xl: 86px;
  --padding-61xl: 80px;
  --padding-33xl: 52px;
  --padding-15xl: 34px;
  --padding-17xl: 36px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-87xl: 106px;
  --br-smi-7: 12.7px;
  --br-3xl-9: 22.9px;
  --br-3xs-5: 9.5px;
  --br-31xl: 50px;
}
