.color1 {
    margin-top: -0.8%;
    margin-left: -0.8%;
    display: flex;  
    background-color: #212633;
    height: 716.5px;
    margin-right: 73%;
}

.color2 {
    margin-top: -54%;
    margin-right: 1%;
    margin-left: 27%;
    display: flex;
    width: 1086.21px;
    /* height: 200px; */
    /* background-color: #FBFADA; */
    background-color: #e3ebf3;
    height: 790.5px;
    /* set karje haji*/
}

/* /////////////////////// */
.login {
    font-family: "Poppins", sans-serif;
}

.form {
    /* background-color: #D4E7C5; */
    background-color: #212633;
    /*Light green1 */
    /* background-color: #E1F0DA; */
    display: flex;
    border: 0px solid black;
    padding: 3%;
    justify-content: center;
    text-align: center;
    margin-left: 55%;
    margin-top: -39%;
    width: 312.5px;
    box-sizing: border-box;
}

h2 {
    font-size: 25px;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    border-radius: 4px;
    width: 97%;
    border: 0;
    margin: 10px;
    margin-left: -2.5%;
    padding: 10px;
    font-size: 13px;
}

.form button {
    outline: 0;
    /* background: #ADBC9F; */
    background-color: #e3ebf3;
    width: 55%;
    border: 0;
    /* padding: 15%; */
    margin-top: 16px;
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 14px;
    color: black;
    font-size: 13px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: black;
    color: hsl(0, 0%, 100%);
}

.message {
    margin: 15px 0;
    text-align: left;
}

.form .message a {
    font-size: 14px;
    color: #6a62d2;
    /* text-decoration: none; */
}

.form a {
    font-size: 12.5px;
    color: darkblue;
    margin-left: -74.5%;
    font-family: "Poppins", sans-serif;
}

p {
    text-align: right;
    margin-top: -1%;
    font-size: 12px;
    margin-right: 6.8%;
}

p u {
    color: darkblue;
    cursor: pointer;
}

k {
    margin-left: -54%;
    font-size: 12.5px;
}