<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>MediSync-Elevating Inventory Mastery</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/dashboard-landing-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@900&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-landing-page">
      <div class="main-container">
        <input class="configuration-group1" placeholder="LOGO" type="text" />

        <div class="inventory-frame">
          <div class="side-nav-bg35"></div>
          <div class="medicine-frame">
            <div class="warning-frame">
              <div class="payment-frames">
                <img
                  class="health-and-safety-black-d-p"
                  loading="eager"
                  alt=""
                  src="/static/public/ellipse-16@2x.png"
                />

                <div class="payments-black-d-p"></div>
              </div>
              <div class="medical-services-black-d-p">
                <div class="warning-amber-black-d-p">
                  <div class="selvi8">Selvi</div>
                  <div class="selvi9">Selvi</div>
                </div>
                <div class="inventory-status-frame">
                  <div class="super-admin8">Super Admin</div>
                  <div class="super-admin9">Super Admin</div>
                </div>
              </div>
            </div>
            <div class="visit-inventory-button">
              <img
                class="visit-inventory-button-child"
                alt=""
                src="/static/public/group-13.svg"
              />

              <img
                class="visit-inventory-button-item"
                loading="eager"
                alt=""
                src="/static/public/group-13.svg"
              />
            </div>
          </div>
          <form class="group14">
            <div class="my-pharmacy1">
              <div class="rectangle-parent179">
                <div class="frame-child227"></div>
                <img
                  class="total-suppliers-icon"
                  alt=""
                  src="/static/public/vector-2.svg"
                />

                <div class="dashboard15">Dashboard</div>
              </div>
              <div class="customers6">
                <div class="rectangle-parent180">
                  <div class="frame-child228"></div>
                  <div class="frequently-bought">
                    <img class="group-icon31" alt="" src="/static/public/group.svg" />

                    <div class="inventory23">Inventory</div>
                  </div>
                  <img
                    class="inventory-frame-icon"
                    alt=""
                    src="/static/public/vector-4.svg"
                  />
                </div>
                <div class="rectangle-parent181">
                  <div class="frame-child229"></div>
                  <div class="group-parent10">
                    <img
                      class="group-icon32"
                      alt=""
                      src="/static/public/group-1.svg"
                    />

                    <!-- <div class="reports17"><a href="/report" style="color: white;font-style: none;">Reports</a></div> -->
                    <div class="report17">Report</div>
                  </div>
                  <img
                    class="vector-icon98"
                    alt=""
                    src="/static/public/vector-4.svg"
                  />
                </div>
                <div class="rectangle-parent182">
                  <div class="frame-child230"></div>
                  <img
                    class="vector-icon99"
                    alt=""
                    src="/static/public/vector-5.svg"
                  />

                  <div class="configuration14">Configuration</div>
                </div>
              </div>
            </div>
            <div class="quick-report-frame"></div>
            <div class="quick-report-frame1">
              <div class="rectangle-parent183">
                <div class="frame-child231"></div>
                <img class="group-icon33" alt="" src="/static/public/vector-6.svg" />

                <div class="inventory-list4">
                  <div class="contact-management16">Contact Management</div>
                </div>
                <img
                  class="frame-header-icon"
                  alt=""
                  src="/static/public/vector-4.svg"
                />
              </div>
              <div class="rectangle-parent184">
                <div class="frame-child232"></div>
                <div class="line-separator7">
                  <img
                    class="quick-report-icon"
                    loading="eager"
                    alt=""
                    src="/static/public/vector-8.svg"
                  />

                  <div class="notifications14">Notifications</div>
                </div>
                <div class="group-by-groups">
                  <div class="frame-actions"></div>
                  <div class="go-to-configuration1">01</div>
                </div>
              </div>
              <div class="rectangle-parent185">
                <div class="frame-child233"></div>
                <img
                  class="revenue-qty-icon"
                  alt=""
                  src="/static/public/vector-9.svg"
                />

                <input
                  class="chat-with-visitors13"
                  placeholder="Chat with Visitors"
                  type="text"
                />
              </div>
            </div>
            <div class="you-have-completed-the-add-use"></div>
            <div class="quick-report-frame2">
              <button class="rectangle-parent186">
                <div class="frame-child234"></div>
                <img
                  class="vector-icon100"
                  alt=""
                  src="/static/public/vector-10.svg"
                />

                <div class="application-settings14">Application Settings</div>
              </button>
              <div class="rectangle-parent187">
                <div class="frame-child235"></div>
                <img
                  class="vector-icon101"
                  alt=""
                  src="/static/public/vector-11.svg"
                />

                <input class="covid-1911" placeholder="Covid -19" type="text" />
              </div>
              <div class="rectangle-parent188">
                <div class="frame-child236"></div>
                <img
                  class="vector-icon102"
                  loading="eager"
                  alt=""
                  src="/static/public/vector-12.svg"
                />

                <div class="get-technical-help10">Get Technical Help</div>
              </div>
            </div>
          </form>
          <div class="inventory-frame-inner">
            <div class="frame-child237"></div>
          </div>
        </div>
      </div>
      <img
        class="dashboard-landing-page-child"
        alt=""
        src="/static/public/ellipse-16@2x.png"
      />

      <main class="january-frame">
        <div class="line-frame3">
          <div class="side-nav-bg36"></div>
          <div class="quick-report-frame3">
            <div class="top-bar-bg-parent18">
              <div class="top-bar-bg29"></div>
              <input
                class="search-for-anything13"
                placeholder="Search for anything here.."
                type="text"
              />

              <img
                class="inventory-group-frame"
                alt=""
                src="/static/public/azithral-tablet.svg"
              />
            </div>
            <div class="total-no-of-medicines-frame">
              <div class="medicine-groups-frame1">
                <img
                  class="translate-black-24dp-1-icon13"
                  alt=""
                  src="/static/public/translate-black-24dp-1.svg"
                />

                <div class="english-us13">English (US)</div>
                <img
                  class="revenue-frame-icon"
                  alt=""
                  src="/static/public/vector-1.svg"
                />
              </div>
              <div class="totalnoof-suppliers-frame">
                <div class="totalnoof-users-frame">
                  <div class="customers-frame4"></div>
                  <div class="good-morning14">Good Morning</div>
                </div>
                <div class="february-2024-group">
                  <div class="february-20242">02, February, 2024</div>
                  <div class="group15">
                    <div class="configuration-frame"></div>
                    <div class="div29">22:45:04</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="warning-frame1"></div>
        </div>
        <section class="medicine-frame1">
          <div class="revenue-frame">
            <div class="january-frame1">
              <h2 class="dashboard16">Dashboard</h2>
              <div class="a-quick-data1">
                A quick data overview of the inventory.
              </div>
            </div>
            <div class="rectangle-parent189">
              <div class="frame-child238"></div>
              <div class="download-report2">Download Report</div>
              <img
                class="medical-services-frame"
                alt=""
                src="/static/public/vector-1.svg"
              />
            </div>
          </div>
          <div class="warning-amber-frame">
            <div class="rectangle-parent190">
              <div class="frame-child239"></div>
              <div class="view-detailed-report5">
                <div class="view-detailed-report-item"></div>
                <img
                  class="health-and-safety-black-24dp-1-icon2"
                  loading="eager"
                  alt=""
                  src="/static/public/health-and-safety-black-24dp-1.svg"
                />

                <h3 class="good1">Good</h3>
                <div class="inventory-status2">Inventory Status</div>
              </div>
              <div class="view-detailed-report-parent1">
                <div class="view-detailed-report6">View Detailed Report</div>
                <img
                  class="frame-child240"
                  loading="eager"
                  alt=""
                  src="/static/public/group-22.svg"
                />
              </div>
            </div>
            <div class="rectangle-parent191">
              <div class="frame-child241"></div>
              <div class="rectangle-parent192">
                <div class="frame-child242"></div>
                <img
                  class="payments-black-24dp-1-icon2"
                  loading="eager"
                  alt=""
                  src="/static/public/payments-black-24dp-1.svg"
                />

                <b class="rs-8558752">Rs. 8,55,875</b>
                <div class="revenue-group">
                  <div class="revenue1">Revenue :</div>
                  <div class="jan-20221">Jan 2022</div>
                  <img
                    class="frame-child243"
                    alt=""
                    src="/static/public/vector-1.svg"
                  />
                </div>
              </div>
              <div class="view-detailed-report-parent2">
                <div class="view-detailed-report7">View Detailed Report</div>
                <img
                  class="frame-child244"
                  loading="eager"
                  alt=""
                  src="/static/public/group-22.svg"
                />
              </div>
            </div>
            <div class="rectangle-parent193">
              <div class="frame-child245"></div>
              <div class="rectangle-parent194">
                <div class="frame-child246"></div>
                <img
                  class="medical-services-black-24dp-2-icon1"
                  loading="eager"
                  alt=""
                  src="/static/public/medical-services-black-24dp-2.svg"
                />

                <b class="b9">298</b>
                <div class="medicines-available1">Medicines Available</div>
              </div>
              <div class="visit-inventory-group">
                <div class="visit-inventory1">Visit Inventory</div>
                <img
                  class="frame-child247"
                  loading="eager"
                  alt=""
                  src="/static/public/group-22.svg"
                />
              </div>
            </div>
            <div class="rectangle-parent195">
              <div class="frame-child248"></div>
              <div class="rectangle-parent196">
                <div class="frame-child249"></div>
                <img
                  class="warning-amber-black-24dp-1-icon"
                  loading="eager"
                  alt=""
                  src="/static/public/warning-amber-black-24dp-1.svg"
                />

                <b class="b10">01</b>
                <div class="medicine-shortage2">Medicine Shortage</div>
              </div>
              <div class="resolve-now-group">
                <div class="resolve-now1">Resolve Now</div>
                <img
                  class="frame-child250"
                  alt=""
                  src="/static/public/group-22.svg"
                />
              </div>
            </div>
          </div>
        </section>
        <section class="root-frame">
          <div class="root-frame-child"></div>
          <div class="frame-group-wrapper">
            <div class="frame-group5">
              <div class="rectangle-parent197">
                <div class="frame-child251"></div>
                <div class="group16">
                  <div class="group-child">
                    <div class="inventory-container">
                      <div class="inventory24">Inventory</div>
                      <div class="go-to-config">
                        <div class="go-to-configuration2">
                          Go to Configuration
                        </div>
                        <img
                          class="go-to-config-child"
                          loading="eager"
                          alt=""
                          src="/static/public/group-22.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="group-item"></div>
                </div>
                <div class="frame-wrapper6">
                  <div class="frame-parent39">
                    <div class="quick-report-parent">
                      <b class="quick-report2">298</b>
                      <div class="total-no-of4">Total no of Medicines</div>
                    </div>
                    <div class="my-pharmacy-group">
                      <b class="my-pharmacy2">24</b>
                      <div class="medicine-groups11">Medicine Groups</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent198">
                <div class="frame-child252"></div>
                <div class="view-report-frame">
                  <div class="group-frame6">
                    <div class="supplier-info-frame">
                      <div class="quick-report3">Quick Report</div>
                      <div class="january-quick-report">
                        <div class="customer-group">
                          <div class="january-20223">January 2022</div>
                          <div class="customers-group">
                            <img
                              class="customers-group-child"
                              alt=""
                              src="/static/public/vector-1.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="line-frame4"></div>
                </div>
                <div class="go-to-config-frame">
                  <div class="total-suppliers-parent">
                    <div class="total-suppliers1">
                      <b class="supplier-info-list">70,856</b>
                      <div class="qty-of-medicines1">Qty of Medicines Sold</div>
                    </div>
                    <div class="invoice-list-frame">
                      <b class="quick-report-line">5,288</b>
                      <div class="invoices-generated1">Invoices Generated</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent40">
            <img
              class="frame-child253"
              loading="eager"
              alt=""
              src="/static/public/group-39.svg"
            />

            <div class="user-management-group">
              <div class="rectangle-parent199">
                <div class="frame-child254"></div>
                <div class="group17">
                  <div class="group-inner1">
                    <div class="my-pharmacy-container">
                      <div class="my-pharmacy3">My Pharmacy</div>
                      <div class="quick-report-frame4">
                        <div class="go-to-user1">Go to User Management</div>
                        <img
                          class="quick-report-frame-child"
                          loading="eager"
                          alt=""
                          src="/static/public/group-22.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="supplier-line"></div>
                </div>
                <div class="group-wrapper">
                  <div class="group18">
                    <div class="customers-frame5">
                      <b class="total-customers2">04</b>
                      <div class="total-no-of5">Total no of Suppliers</div>
                    </div>
                    <div class="line4">
                      <b class="frame4">05</b>
                      <div class="total-no-of6">Total no of Users</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent200">
                <div class="frame-child255"></div>
                <div class="group19">
                  <div class="line-wrapper">
                    <div class="line5">
                      <div class="customers7">Customers</div>
                      <div class="customer-list">
                        <div class="go-to-customers1">Go to Customers Page</div>
                        <img
                          class="customer-list-child"
                          loading="eager"
                          alt=""
                          src="/static/public/group-22.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="group-child1"></div>
                </div>
                <div class="supplier-total1">
                  <div class="total-suppliers-group">
                    <div class="total-suppliers2">
                      <b class="customers8">845</b>
                      <div class="total-no-of7">Total no of Customers</div>
                    </div>
                    <div class="abcdefghi">
                      <h3 class="abcdefghi1">abcdefghi</h3>
                      <div class="frequently-bought-item2">
                        Frequently bought Item
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
