<!DOCTYPE html>
<html>
  <head>
    <title>MediSync-Trusted Inventory Partner</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <!-- <link rel="stylesheet" href="/static/public/" /> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@900&display=swap"
    />
  </head>
  <body>
    <div class="landing">
      <section class="f-r-a-m-e-orders-suppliers-tra">
        <img
          class="rectangle-logo-icon"
          alt=""
          src="/static/public/rectangle-logo@2x.png"
        />

        <div class="f-r-a-m-e-inventory-text">
          <div class="f-r-a-m-e-search">
            <div class="login-frame">
              <div class="f-r-a-m-e-our-affiliations">
                <div class="v-e-c-t-o-r-affiliations-group">
                  <div class="logo9">Logo</div>
                  <div class="inventory22">Inventory</div>
                </div>
              </div>
              <div class="f-r-a-m-e-key-benefits">
                <h1 class="effortless-control-seamless">
                  Effortless control, seamless care – Revolutionize your
                  pharmacy with our in-house inventory management system
                </h1>
                <div class="search1">
                  <div class="search-child"></div>
                  <div class="framemdisearch">
                    <img
                      class="mdi-search-icon"
                      loading="eager"
                      alt=""
                      src="/static/public/mdi-search.svg"
                    />

                    <div class="seach-for-drugs">
                      Seach for drugs in our store
                    </div>
                  </div>
                  <button class="button">
                    <img
                      class="button-child"
                      alt=""
                      src="/static/public/rectangle-4.svg"
                    />

                    <div class="find-drug">Find drug</div>
                  </button>
                </div>
              </div>
            </div>
            <div class="orders">Orders</div>
            <div class="suppliers">Suppliers</div>
            <div class="track">Track</div>
          </div>
        </div>
        <div class="frame-sign-up-for-newsletter">
          <div class="login"><a href="/signup" style="color: white;">Login</a></div>
        </div>
      </section>
      <div class="affiliationsframe">
        <div class="loginframe">
          <div class="ouraffiliationsgroup">
            <h1 class="our-affiliations">Our Affiliations</h1>
            <div class="rectangle-parent177">
              <div class="frame-child223"></div>
              <img
                class="frame-child224"
                loading="eager"
                alt=""
                src="/static/public/rectangle-36.svg"
              />
            </div>
          </div>
        </div>
        <div class="imageframesgroup">
          <img
            class="image-7-icon"
            loading="eager"
            alt=""
            src="/static/public/image-7@2x.png"
          />

          <img
            class="image-8-icon"
            loading="eager"
            alt=""
            src="/static/public/image-8@2x.png"
          />

          <img
            class="image-9-icon"
            loading="eager"
            alt=""
            src="/static/public/image-9@2x.png"
          />
        </div>
      </div>
      <section class="keybenefitsframe">
        <div class="benefitsgroup">
          <div class="keybenefitstext">
            <h1 class="key-benefits">Key Benefits</h1>
            <div class="rectangle-parent178">
              <div class="frame-child225"></div>
              <img
                class="frame-child226"
                loading="eager"
                alt=""
                src="/static/public/rectangle-36.svg"
              />
            </div>
          </div>
          <div class="servicestext">
            <div class="deliverypurchaseframe">
              <div class="consultspecialistframe">
                <div class="quicklinksframe">
                  <h3 class="all-your-medicine">
                    All your Medicine needs in one place
                  </h3>
                </div>
                <div class="exclude-features">
                  <div class="operations-tracking">
                    <div class="streamlined-ops">
                      <img
                        class="exclude-icon"
                        loading="eager"
                        alt=""
                        src="/static/public/exclude.svg"
                      />

                      <div class="streamlined-operations">
                        Streamlined Operations
                      </div>
                    </div>
                    <div class="streamlined-ops1">
                      <img
                        class="exclude-icon1"
                        loading="eager"
                        alt=""
                        src="/static/public/exclude.svg"
                      />

                      <div class="real-time-tracking">Real-time Tracking</div>
                    </div>
                  </div>
                  <div class="regulatory-comp">
                    <img
                      class="exclude-icon2"
                      loading="eager"
                      alt=""
                      src="/static/public/exclude.svg"
                    />

                    <div class="regulatory-compliance">
                      Regulatory Compliance
                    </div>
                  </div>
                </div>
                <div class="reporting-and-scalability">
                  <button class="join-us-btn">
                    <div class="get-prescription">Get Started</div>
                    <img
                      class="chevrons-right-icon"
                      alt=""
                      src="/static/public/chevronsright.svg"
                    />
                  </button>
                </div>
              </div>
            </div>
            <img
              class="servicestext-child"
              loading="eager"
              alt=""
              src="/static/public/group-37.svg"
            />
          </div>
        </div>
        <div class="social-media-logo">
          <div class="bottom-nav">
            <img
              class="bottom-nav-child"
              loading="eager"
              alt=""
              src="/static/public/group-37-1@2x.png"
            />

            <div class="get-prescription1">
              <div class="time-efficiency-parent">
                <div class="time-efficiency">
                  <h3 class="get-your-drugs">
                    Get your drugs at your doorstep
                  </h3>
                  <div class="scalability-and-growth">
                    <div class="exclude-section">
                      <img
                        class="exclude-icon3"
                        loading="eager"
                        alt=""
                        src="/static/public/exclude.svg"
                      />

                      <img
                        class="exclude-icon4"
                        loading="eager"
                        alt=""
                        src="/static/public/exclude.svg"
                      />

                      <img
                        class="exclude-icon5"
                        loading="eager"
                        alt=""
                        src="/static/public/exclude.svg"
                      />
                    </div>
                    <div class="operations-tracking1">
                      <div class="time-efficiency1">Time Efficiency</div>
                      <div class="customizable-reporting">
                        Customizable Reporting
                      </div>
                      <div class="scalability">Scalability</div>
                    </div>
                  </div>
                </div>
                <div class="compliance-frame">
                  <button class="join-us-btn1">
                    <div class="get-prescription2">Know more</div>
                    <img
                      class="chevrons-right-icon1"
                      alt=""
                      src="/static/public/chevronsright.svg"
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="leadership-perspective">
        <div class="bottom-nav-frame">
          <img
            class="sign-up-for-newsletter"
            loading="eager"
            alt=""
            src="/static/public/rectangle-34@2x.png"
          />

          <div class="contact-us-about-us-careers">
            <div class="services-frame">
              <h1 class="leadership-perspective1">Leadership Perspective</h1>
              <div class="gerald-maldiliene">- Gerald Maldiliene</div>
            </div>
          </div>
        </div>
      </section>
      <footer class="social-media-frame">
        <div class="bottom-nav1">
          <div class="bottom-nav-item"></div>
          <div class="bottom-nav-frame-label">
            <div class="subscribe-btn-group">
              <h3 class="sign-up-for">Sign up for our Newsletter</h3>
              <div class="get-to-know">
                Get to know updates in the field of medicine and know how often
                our stores are stocked
              </div>
            </div>
            <h3 class="logo10">Logo</h3>
          </div>
          <div class="bottom-nav-inner">
            <div class="frame-parent35">
              <div class="frame-wrapper4">
                <div class="frame-parent36">
                  <div class="email-label-parent">
                    <div class="email-label">Your Email</div>
                    <div class="sub-input">
                      <div class="sub-input-child"></div>
                      <div class="exampleemailcom">example@email.com</div>
                      <div class="subscribe-btn">
                        <img
                          class="subscribe-btn-child"
                          alt=""
                          src="./public/rectangle-7.svg"
                        />

                        <div class="subscribe">Subscribe</div>
                        <img class="send-icon" alt="" src="/static/public/send.svg" />
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper5">
                    <div class="frame-parent37">
                      <div class="quick-links-parent">
                        <div class="quick-links">Quick links</div>
                        <div class="contact-us-parent">
                          <div class="contact-us">Contact us</div>
                          <div class="about-us">About Us</div>
                          <div class="careers">Careers</div>
                        </div>
                      </div>
                      <div class="frame-parent38">
                        <div class="services-wrapper">
                          <div class="services">Services</div>
                        </div>
                        <div class="delivery-hub">
                          <div class="delivery">Delivery</div>
                          <div class="purchase">Purchase</div>
                        </div>
                        <div class="consult-specialist">Consult Specialist</div>
                      </div>
                      <div class="footer-links">
                        <div class="social-media">Social Media</div>
                        <div class="quick-links1">
                          <div class="facebook">Facebook</div>
                          <div class="twitter">Twitter</div>
                          <div class="linkedin">Linkedin</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="designed-by-sophisticateddev">
                Designed by sophisticateddev. copyright©
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
