<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>MediSync-Trusted Inventory Partner</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/dashboard-landing-page.css" />
    <link rel="stylesheet" href="/static/css/inventory-home.css ">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@900&display=swap" />
</head>

<body>
    <div class="dashboard-landing-page">
        <div class="main-container">
            <input class="configuration-group1" placeholder="LOGO" type="text" />

            <div class="inventory-frame">
                <div class="side-nav-bg35"></div>
                <div class="medicine-frame">
                    <div class="warning-frame">
                        <div class="payment-frames">
                            <img class="health-and-safety-black-d-p" loading="eager" alt=""
                                src="/static/public/ellipse-16@2x.png" />

                            <div class="payments-black-d-p"></div>
                        </div>
                        <div class="medical-services-black-d-p">
                            <div class="warning-amber-black-d-p">
                                <div class="selvi8">Tirth</div>
                                <div class="selvi9">Tirth</div>
                            </div>
                            <div class="inventory-status-frame">
                                <div class="super-admin8">Admin</div>
                                <div class="super-admin9"></div>
                            </div>
                        </div>
                    </div>
                    <div class="visit-inventory-button">
                        <!-- <img class="visit-inventory-button-child" alt="" src="/static/public/group-13.svg" />

                        <img class="visit-inventory-button-item" loading="eager" alt=""
                            src="/static/public/group-13.svg" /> -->
                    </div>
                </div>
                <form class="group14">
                    <div class="my-pharmacy1">
                        <div class="rectangle-parent179">
                            <div class="frame-child227"></div>
                            <img class="total-suppliers-icon" alt="" src="/static/public/vector-2.svg" />

                            <div class="dashboard15">
                                <a href="/dashboard" style="color: white;">Dashboard</a>
                            </div>
                        </div>
                        <div class="customers6">
                            <div class="rectangle-parent180">
                                <div class="frame-child228"></div>
                                <div class="frequently-bought">
                                    <img class="group-icon31" alt="" src="/static/public/group.svg" />

                                    <div class="inventory23">
                                        <a href="/inventoryhome" style="color: white;">Inventory Details</a>
                                        </div>
                                </div>
                                <!-- <img class="inventory-frame-icon" alt="" src="/static/public/vector-4.svg" /> -->
                            </div>
                            <div class="rectangle-parent181">
                                <div class="frame-child229"></div>
                                <div class="group-parent10">
                                    <img class="group-icon32" alt="" src="/static/public/group-1.svg" />

                                    <div class="reports17"> 
                                        <a href="/report" style="color: white;">    Generate Report </a>
                                    </div>
                                </div>
                                <!-- <img class="vector-icon98" alt="" src="/static/public/vector-4.svg" /> -->
                            </div>
                            <div class="rectangle-parent182">
                                <div class="frame-child230"></div>
                                <img class="vector-icon99" alt="" src="/static/public/vector-5.svg" />

                                <div class="configuration14">
                                    <a href="/InventoryDetails" style="color: white;"> Medicine Details </a>
                                    </div>
                            </div>
                            <div class="rectangle-parent182">
                                <div class="frame-child230"></div>
                                <img class="vector-icon99" alt="" src="/static/public/group-1.svg" />

                                <div class="configuration14"> 
                                    <a href="/stocktrack" style="color: white;"> Stock Tracking</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quick-report-frame"></div>
                    <div class="quick-report-frame1">
                        <div class="rectangle-parent183">
                            <div class="frame-child231"></div>
                            <img class="group-icon33" alt="" src="/static/public/vector-6.svg" />

                            <div class="inventory-list4">
                                <div class="contact-management16">
                                    <a href="/customer" style="color: white;"> Customer Information </a>
                                </div>
                            </div>
                            <!-- <img class="frame-header-icon" alt="" src="/static/public/vector-4.svg" /> -->
                        </div>
                        <div class="rectangle-parent184">
                            <div class="frame-child232"></div>
                            <div class="line-separator7">
                                <img class="quick-report-icon" loading="eager" alt=""
                                    src="/static/public/vector-8.svg" />

                                <div class="notifications14">
                                    <a href="/employee" style="color: white;">Employee Information</a>
                                    </div>
                            </div>

                        </div>
                        <div class="rectangle-parent185">
                            <div class="frame-child233"></div>
                            <img class="revenue-qty-icon" alt="" src="/static/public/vector-9.svg" />

                            <input class="chat-with-visitors13" placeholder="Chat with Visitors" type="text" />
                        </div>
                    </div>
                    <div class="you-have-completed-the-add-use"></div>
                    <div class="quick-report-frame2">
                        <button class="rectangle-parent186">
                            <div class="frame-child234"></div>
                            <img class="vector-icon100" alt="" src="/static/public/vector-10.svg" />

                            <div class="application-settings14">Application Settings</div>
                        </button>

                        <div class="rectangle-parent188">
                            <div class="frame-child236"></div>
                            <img class="vector-icon102" loading="eager" alt="" src="/static/public/vector-12.svg" />

                            <div class="get-technical-help10">Get Technical Help</div>
                        </div>
                        <button class="rectangle-parent186">
                            <div class="frame-child234"></div>
                            <img class="vector-icon100" alt="" src="/static/public/vector-10.svg" />

                            <div class="application-settings14"><a href="/signin" style="color: white;">Log Out </a></div>
                        </button>

                    </div>
                </form>
                <div class="inventory-frame-inner">
                    <div class="frame-child237"></div>
                </div>
            </div>
        </div>
        <img class="dashboard-landing-page-child" alt="" src="/static/public/ellipse-16@2x.png" />

        <main class="january-frame">
            <div class="line-frame3">
                <div class="side-nav-bg36"></div>
                <div class="quick-report-frame3">
                    <div class="top-bar-bg-parent18">
                        <div class="top-bar-bg29"></div>
                        <input class="search-for-anything13" placeholder="Search for anything here.." type="text" />

                        <img class="inventory-group-frame" alt="" src="/static/public/azithral-tablet.svg" />
                    </div>
                    <div class="total-no-of-medicines-frame">
                        <div class="medicine-groups-frame1">
                            <img class="translate-black-24dp-1-icon13" alt=""
                                src="/static/public/translate-black-24dp-1.svg" />

                            <div class="english-us13">English (US)</div>
                            <img class="revenue-frame-icon" alt="" src="/static/public/vector-1.svg" />
                        </div>
                        <div class="totalnoof-suppliers-frame">
                            <div class="totalnoof-users-frame">
                                <div class="customers-frame4"></div>
                                <div class="good-morning14">Good Morning</div>
                            </div>
                            <div class="february-2024-group">
                                <div class="february-20242">16 March, 2024</div>
                                <div class="group15">
                                    <div class="configuration-frame"></div>
                                    <div class="div29">22:45:04</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="warning-frame1"></div>
            </div>
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!-- 
            //////////////////////////////////////
            //////////////////////////////////////
        -->
            <!-- <div class="main" style="margin-left: -55%;"><b>
                    <k style="color:black;font-size: 22px;margin-left: -1.5%;">&nbsp;<b>Inventory</b>&nbsp; </k> -->
                    
                    <!-- These two lines not open please -->
                    <!-- <h style="font-size: 20px;"><b>>&nbsp;</b></h> -->
                    <!-- <k style="color:black;font-size: 23px;"><b>List of Medicines</b></k><br> -->
                    
                    <!-- <br>
                    <br>
                    <kk style="font-size: 17px; margin-left: 0%;margin-top: 10px;">List of medicines available for sales
                    </kk>
            </div> -->
            <!-- 
    //////////////////////////////////////
    //////////////////////////////////////
 -->
            <section class="view-full-list-wrapper">
                <div class="view-full-list">
                    <div class="inventory-text-wrapper">
                        <div class="inventory-text">
                            <div class="view-full-list-btn-parent">
                                <!-- <div class="view-full-list-btn"> -->
                                <!-- <h2 class="inventory26">Inventory</h2> -->
                                <!-- <div class="list-of-medicines16">
    List of medicines available for sales.
  </div> -->
                                <!-- </div> -->

                                <div class="frame-parent42">
                                    <div class="rectangle-parent211">
                                        <div class="frame-child268"></div>
                                        <div class="rectangle-parent212">
                                            <div class="frame-child269"></div>
                                            <img class="medical-services-black-24dp-2-icon2" loading="eager" alt=""
                                                src="/static/public/medical-services-black-24dp-2.svg" />

                                            <b class="vector-warningamberblackdp"></b>
                                            <div class="medicines-available2">
                                            List Of <br>Medicines  <br>Available 
                                            </div>
                                        </div>
                                        <div class="group-container3">
                                            <div class="view-full-list1"><a href="/MED" style="color: black;">View Full List</a></div>
                                            <div class="group-container-inner">
                                                <img class="frame-child270" loading="eager" alt=""
                                                    src="/static/public/group-22.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    <!--  -->
                                    <div class="rectangle-parent213">
                                        <div class="frame-child271"></div>
                                        <div class="rectangle-parent214">
                                            <div class="frame-child272"></div>
                                            <img class="medical-services-black-24dp-2-icon3" alt=""
                                                src="/static/public/medical-services-black-24dp-2-1.svg" />

                                            <b class="b11"></b>
                                            <div class="medicine-groups13">
                                                 Generate Purchase Order 

                                            </div>
                                        </div>
                                        <div class="view-groups-parent">
                                            <div class="view-groups"><a href="/purchaseorder" style="color: black;font-size: 12px;">View </a></div>
                                            <div class="frame-wrapper9">
                                                <img class="frame-child273" alt="" src="/static/public/group-22.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <!--  -->
                                    
                                    <!--  -->
                                    &nbsp;<div class="rectangle-parent215">
                                        <div class="frame-child274"></div>
                                        <div class="rectangle-parent216">
                                            <div class="frame-child275"></div>
                                            <img class="warning-amber-black-24dp-1-icon1" loading="eager" alt=""
                                                src="/static/public/warning-amber-black-24dp-1.svg" />

                                            <b class="frame-group6">01</b>
                                            <div class="medicine-shortage3">Medicine Shortage</div>
                                        </div>
                                        <div class="resolve-now-container">
                                            <div class="resolve-now2">Resolve Now</div>
                                            <img class="frame-child276" alt="" src="/static/public/group-22.svg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="full-list-button">
<button class="rectangle-parent217">
  <div class="frame-child277"></div>
  <img
    class="vector-icon111"
    alt=""
    src="./public/vector-15.svg"
  />

  <div class="add-new-item3">Add New Item</div>
</button>
</div> -->
                        </div>
                    </div>
                    <div class="frame-container3">
                        <img class="frame-container-child" alt="" src="/static/public/rectangle-26.svg" />

                        <img class="notification-vector-icon" alt="" src="/static/public/vector-17.svg" />
                    </div>
                </div>
            </section>



            <!-- 
    //////////////////////////////////////
    //////////////////////////////////////
 -->

    </div>
    </div>
    </section>
    </main>
    </div>
</body>

</html>