<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signup.css">
    <title>MediSync-Trusted Inventory Partner</title>
    <style>
    </style>
</head>

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}

    <div>
        <div class="color1"></div>
        <div class="color2"></div>
    </div>
    <div class="login">
        <div class="form">
            <form action="/signup" method="post" id="myForm">
                {% csrf_token %}
                <h3 style="color: white;"><b>SIGN IN</b></h3>
                <input type="text" required placeholder="Create a Username" id="username" name="username"
                    autoComplete="off" minlength="6" maxlength="10"/> <br>

                <input type="email" required placeholder="Enter Email Id" id="email" name="email" autoComplete="off" />
                <br>

                <input type="password" required placeholder="Enter Password" id="password" name="password"
                    autoComplete="off" pattern="[a-zA-Z0-9]{8,}"
                    title="Password must be at least 8 characters long and contain only letters and numbers" />

                <input type="password" required placeholder="Re-Enter Password" id="repassword" name="repassword"
                    autoComplete="off" />

                <button type="submit">Login</button> <br>
                &nbsp;&nbsp;<j style="color: white;"> Already Sign In Click here</j>&nbsp; &nbsp;<a href="/signin"
                    style="margin-left: 1%;font-size: 2.6vh; color: white;">Sign In</a>
            </form>
        </div>
    </div>
    <script>

        document.getElementById('myForm').addEventListener('submit', function (event) {
            // Get form inputs
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            // Validate inputs
            if (username === '') {
                alert('Please enter a username');
                event.preventDefault(); // Prevent form submission
            }
        });

        document.getElementById('myForm').addEventListener('submit', function (event) {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('repassword').value;

            if (password !== confirmPassword) {
                alert('Password Credentials Do Not Match. Re-Enter Again.');
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>

</body>

</html>