<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediSync-Trusted Inventory Partner</title>
    <link rel="stylesheet" href="/static/css/signin.css">
</head>

<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}

    <div>
        <div class="color1"></div>
        <div class="color2"></div>
    </div>
    <div class="login">
        <div class="form">
            <form action="/signin" method="post" id="myForm">
                {% csrf_token %}
                <h3 style="color: white;"><b>SIGN IN</b><br>
                    <o style="font-size: 14px;">Sign in to access your account</o>
                </h3>
                <input type="text" required placeholder="Enter Username" id="username" name="username"
                    autoComplete="off" minlength="6" maxlength="10" title="Please Rewrite again" /> <br>

                <br /><input type="password" placeholder="Enter Password" id="password" name="password"
                    autoComplete="off" pattern="[a-zA-Z0-9]{8,}" /><br />

                <br><button type="submit" style="font-size: 15px; margin-top: -1%; margin-bottom: 10%;">Sign In</button>
                <br>
                <o style="color: white;font-size: 15px;">Don't have an account ? <br> <a href="/signup"
                        style="color: white;font-size: 15px;margin-left: 3%;">Sign Up</a></o>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('myForm').addEventListener('submit', function (event) {
            // Get form inputs
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            // Validate inputs
            if (username === '') {
                alert('Please enter a Username');
                event.preventDefault(); // Prevent form submission
            }
            else if(password === ''){
                alert('Please enter a Password');
                event.preventDefault();
            }
        });
    </script>
</body>

</html>
